@charset "UTF-8";


.bestsellers{
   @include prop-rem('margin', 4, 0);
   position: relative;
}
.bestsellers__top{
   @include prop-rem('margin-bottom', 1);
}

.bestsellers_nav{
   background-color: $bestsellers-nav-color;
   width: 37px*2;
   height: 37px;
   @include prop-rem('margin-top', 0.6);
   .m-arrow{
      width: 37px;
      height: 37px;
   }
   @at-root #{&}--right{
      border-left: 1px solid $bestsellers-navdivider-color;
   }
}