@charset "UTF-8";

.m-button{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: $base-font;
  background-color: $button-color;
  color: $button-text-color;
  position: relative;
  @include prop-rem("width", 11.9);
  @include prop-rem("height", 4);
  @include rem(1.6);
  border: none;
  border-bottom: solid 10px $button-shadow-color;
  display: block;
  width: 100%;
  @include prop-rem("padding-left", 1);
  @include prop-rem("padding-right", 1);
}

.m-button--big{
  @include prop-rem("width", 26.5);
  @include prop-rem("height", 6);
  @include rem(2.5);
  border-bottom: solid 20px $button-shadow-color;
}

//deprecated stuff
/*.m-button__shadow{
  background-color: $button-shadow-color;
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
}*/

/*.m-button__content{
  height: 80%;
}*/
