@charset "UTF-8";

.sidebar__section{
  background-color: #f8f8f8;
  @include rem(1.125);
  h4{
    width: 100%;
  }
  h5{
    color: $submenu-title-color;
    @include rem(1.125);
  }
  .select{
    width: 100%;
  }
  .checkbox-wrapper{
    @include prop-rem("margin-right", 0.5, 0);
  }
}

.sidebar__section__content{
  @include prop-rem("padding-top", 1.5);
  @include prop-rem("padding-bottom", 1.5);
  @include prop-rem("margin-bottom", 1.5);
}

.sidebar__content-wrapper{
  @include prop-rem("margin-left", 1.5);
  @include prop-rem("margin-right", 1.5);
}

.sidebar__subsection{
  @include prop-rem("margin-bottom", 2);
}