@charset "UTF-8";



//theme colours
//$blue: #083b48;
//$green: #08a875;

$red:#877b6b; //#bd3c4b
$yellow: #cdad5a;

$white: #fff;
$black: #362d1e;
$gray: #999;
$blue: #305262;
$taupe: #8d8175;

//362d1e donker
//877b6b mid
//6a6162 licht